<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="b" align="center">
        <h1 id="marquee"><marquee>Social Media platfrom By : Pratik Sonawane</marquee></h1>
    </div>
    
    <div class="container">
        <div class="login">
           Mobile Number : <input type="number" [(ngModel)]="this.app.mobile"><br>
           Password : <input type="password" [(ngModel)]="this.app.password"><br>
           <button (click)="login()"> Login</button> <br> <br>
           <button (click)="app.WhatToshow=3"> Register</button><br>
       </div>
           
           
       </div>
      
           
</body>
</html> 


